<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
      <p>These blog posts have been a compilation of thoughts and examples, even some struggles, of new concepts learned in my programming career</p>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href ='https://github.com/JaredJamesRomney'><%= fa_icon "github" %></a></li>
      <li><a href="https://www.facebook.com/jared.romney.56"><%= fa_icon "facebook" %></a></li>
      <li><a href="https://www.instagram.com/jaredjamesromney/"><%= fa_icon "instagram" %></a></li>
      <li><a href="https://www.linkedin.com/in/jared-romney-749116108/"><%= fa_icon "linkedin-square" %></a></li>

    </ol>
  </div>
</div>