<h1>About Me</h1>

<hr>
<div class="row">
	<div class="col-md-4">

		<%= image_tag "fishing.jpg", width: 300, alt: "Profile Picture" %>
	</div>
		
	<div class="col-md-8">
		<p>Technology has been a center of my life for as long as I can remember. I’ve always loved to fix and build things, from computers to cars. So following my dream to become a software developer makes perfect sense. After years of hard work and business operations, I have committed to following my passion for writing code. Developing gives me a sense of gratification that I’ve never been able to find anywhere else, professionally.</p>
		
		<p>I also love being a unique type of nerd. I have always been into sports and fitness, but after football practice, my favorite thing to do was to get into comfortable clothes, and watch Lord of the Rings, or read Harry Potter</p>

		<p>Take every opportunity that I have, and overachieve. I want to succeed in every professional field that I am involved
		in.</p>
	</div>
</div>
