<div class="inner cover">
  <h1 class="cover-heading">Jared</h1>
    <p class="lead">“We are looking at a society increasingly dependent on machines, yet decreasingly capable of making or even using them effectively.” </p>
    <p class="lead">
      <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>
